{{#each this}}
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <img src={{user.avatar}} />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          {{comment_text}}
          <br />
          <br />
          {{user.username}} · <small>{{format_posted_date created_at}}</small>
        </p>
      </div>
    </div>
  </article>
{{/each}}