{{#each this}}
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <img src="/images/def-avatar.png" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{user.username}}</strong><small>· {{created_at}} </small>
          <br />
          {{comment_text}}
          <br />
        </p>
      </div>
    </div>
  </article>
{{/each}}