<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src={{project.user.avatar}} />
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea
          id="comment"
          name="comment-body"
          class="textarea"
          placeholder="Add a comment..."
        ></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button" id="comment-btn">Post comment</button>
      </p>
    </div>
  </div>
</article>
<script
  language="JavaScript"
  type="text/javascript"
  src="javascript/jquery.js"
></script>
<script src="/javascript/comment.js"></script>