<div class="column is-one-quarter">
  <div class="card">
    <div class="card-image">
      <figure class="image is-128x128 m-auto">
        <img
          class="is-rounded"
          src="https://bootdey.com/img/Content/avatar/avatar1.png"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="">
        <h1 class="title has-text-centered">{{user.username}}</h1>
        <div class="is-uppercase has-text-centered">
          <span>Analyst</span>
        </div>
      </div>
      <p class="mt-4">
        <strong> About: </strong>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam
        vestibulum sodales odio ut pulvinar.
      </p>
    </div>
    <nav
      class="breadcrumb is-large has-succeeds-separator"
      aria-label="breadcrumbs"
    >
      <ul>
        <li></li>
        <li>
          <a href="/dashboard">
            <span class="icon is-small">
              <i class="fa fa-trophy" aria-hidden="true"></i>
            </span>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/create">
            <span class="icon is-small">
              <i class="fa fa-trophy" aria-hidden="true"></i>
            </span>
            <span>Create Project</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon is-small">
              <i class="fa fa-group" aria-hidden="true"></i>
            </span>
            <span>Comments</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="has-text-centered">
      <span>Joined January 2022</span>
    </div>
  </div>
</div>