<div class="columns is-multiline is-align-items-start is-justify-content-right">
  {{> user-info dashboard.user }}
  <div class="column">

    {{> create-project dashboard }} 
    
  </div>
</div>

<script src="/javascript/edit-project.js"></script>