<div class="columns is-multiline is-align-items-start is-justify-content-right">
  {{> user-info dashboard }}
  <div class="column">
    {{#if dashboard.projects.length}}

    {{> project-info-dash dashboard.projects }} 
    
    {{/if}}
  </div>
</div>
