<div class="columns is-multiline is-align-items-end is-justify-content-right">
  {{> user-info dashboard.[1] }}
  <div class="column">
    {{#if dashboard.length}}

        {{> comments dashboard }}
  
    {{/if}}
    </div>
</div>