<div class="columns is-multiline is-align-items-start is-justify-content-right">
  {{> user-info dashboard }}
  <div class="column">
    {{#if dashboard.comments.length}}

        {{> comments dashboard.comments }}
  
    {{/if}}
    </div>
</div>
