<div class="card mb-2">
  <header class="card-header">
    <p class="card-header-title">
      User Projects
    </p>
     </header>
</div>
    {{#each projects as |project|}}

      {{> project-info project }}

    {{/each}}
 